
    <form id="userForm" action="/users/api/contactInfo" method="post">
        <h2>Get a quote</h2>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input class="input" type="text" id="firstName" name="firstName" required>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input class="input" type="text" id="lastName" name="lastName" required>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input class="input" type="text" id="phone" name="phone" pattern="<%= phonePattern %>" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input class="input" type="email" id="email" name="email" pattern="<%= emailPattern %>" required>
        </div>
        <div class="form-group">
          <label for="contactPreferences">Contact Preferences</label>
          <select id="contactPreferences" name="contactPreferences">
              <option value="Text Messages">Text Messages</option>
              <option value="Email">Email</option>
              <option value="WhatsApp">WhatsApp</option>
              <option value="Phone Call">Phone Call</option>
          </select>
        </div>
        <%# async function handleSubmit(e){ 
          e.preventDefault(); 
        try{ 
          let formData = document.getElementById('userForm') 
          let response = await fetch('http://localhost:5050/users/api/contactInfo', {method: "POST", body: formData} ) 
          if(response.ok) { 
            const responseData = await response.json(); 
            window.location.href = '/users/addinfo'; 
          } else {
        console.error('Error:', response.statusText); 
        } 
        } catch (error) { console.error('Error:', error); } } %>
        <button onclick="handleSubmit(e)" for="userForm">Next</button>
      </form>
      <!-- <script type="text/javascript"> 
        async function handleSubmit(e){ 
                 e.preventDefault(); 
               try{ 
                 let formData = document.getElementById('userForm') 
                 let response = await fetch('http://localhost:5050/users/api/contactInfo', {method: "POST", body: formData} ) 
                 if(response.ok) { 
                   const responseData = await response.json(); 
                   window.location.href = '/users/addinfo'; 
                 } else {
               console.error('Error:', response.statusText); 
               } 
               } catch (error) { console.error('Error:', error); } } 
       </script> -->