<form
	id="petForm"
	action="/pets/api"
	enctype="multipart/form-data"
	method="post"
>
	<h2>Tell us about your pet's needs</h2>
	<div class="form-group">
		<div class="form-group">
			<label
				id="name"
				for="name"
				>Pet Name</label
			>
			<input
				class="input"
				type="text"
				id="name"
				name="name"
				required
			/>
		</div>
		<label for="typeOfPet">What type of pet needs our service?</label>
		<select
			id="typeOfPet"
			name="typeOfPet"
			required
		>
			<option
				selected
				disabled
				value=""
			>
				--Select One--
			</option>
			<option value="Dog">Dog</option>
			<option value="Cat">Cat</option>
			<option value="Bird">Bird</option>
			<option value="Chicken">Chicken</option>
			<option value="Farm Animal">Farm Animal</option>
			<option value="Serpent/Reptile">Serpent/Reptile</option>
			<option value="Frogs/Amphibian">Frogs/Amphibian</option>
			<option value="Roden">Roden</option>
			<option value="Other">Other</option>
		</select>
	</div>
	<div class="form-group">
		<label for="breed">Do you know your pet's breed?</label>
		<input
			class="input"
			type="text"
			id="breed"
			name="breed"
		/>
	</div>
	<div class="form-group">
		<label for="sex">Do you know your pet's sex?</label>
		<select
			id="sex"
			name="sex"
		>
			<option value="I don't know">I don't know</option>
			<option value="F">Female</option>
			<option value="M">Male</option>
		</select>
	</div>
	<div class="form-group">
		<label for="age">How old is your pet?</label>
		<input
			class="input"
			type="text"
			id="age"
			name="age"
			required
		/>
	</div>
	<div class="form-group">
		<label for="size">Tell us the size of your pet</label>
		<input
			class="input"
			placeholder="i.e: small, fat cat, 30 pounds, half a cow, frog size"
			type="text"
			id="size"
			name="size"
		/>
	</div>
	<div class="form-group">
		<label for="picture">Would you mind sharing the silliest picture of your pet with us?</label>
		<input
			type="file"
			id="picture"
			name="picture"
		/>
	</div>
	<h2>During out visits, mark all that apply:</h2>
	<div class="checkbox-group">
		<input
				type="checkbox" id="needsWalks"
				name="needsWalks"
				value="true"
			/><label
			id="needsWalks"
			for="needsWalks"
		>
			My pet needs to go on walks</label
		>
	<!-- </div> -->
	<!-- <div class="checkbox-group"> -->
		<input
				type="checkbox" id="needsMedication"
				name="needsMedication"
				value="true"
			/><label
			id="needsMedication"
			for="needsMedication"
		>
		
			My pet needs medication</label
		>	
	<!-- </div> -->
	<!-- <div class="checkbox-group"> -->
		<input
				type="checkbox" id="needsFood"
				name="needsFood"
				value="true"
			/><label
			id="needsFood"
			for="needsFood"
		>
			My pet needs to be fed</label
		>
	</div>
  <div class="form-group">
    <label
      id="userId"
      for="userId"
      >Do you know your user Id? -You can add your pet to your profile later, just save your pet's generated id ;)</label
    >
    <input
      class="input"
      type="number"
      id="userId"
      name="userId"
      
    />
  </div>
	<button
		type="submit"
		for="petForm"
	>
		Submit
	</button>
</form>
