<div class="search-bar">
    <form action="/pets/seePets" method="get">
    <select id="pet-dropdown" name="petId">
      <option value="" disabled selected>Select a pet ID</option>
      <% petsArray.forEach(pet => { %>
        <option value="<%= pet.id %>"><%= pet.id %> - <%= pet.name %></option>
      <% }) %>
    </select>
    <button id="search-btn" type="submit">Search</button>
    </form>
  </div>