<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head') %>
</head>
<body>
    <div class="container" id="container">
      <% if (!hasContactInfo){ %>
     <%- include('../partials/contactInfo') %>
     <% }else{ %>
      <%- include('../partials/addInfo') %>
      <% } %>
      </div>
</body>

</html>