<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head') %>
</head>
<body>
    <div class="container" id="container">
     
      <%# if (!hasNeedsInfo){ %>
     <%- include('../partials/petInfo') %>
     <%# }else{ %>
      <%#- include('../partials/addInfo') %>
      <%# } %>
      <!-- Here goes the "ADD ANOTHeR PeT" option -->
      </div>
</body>

</html>